body {
  margin: 0;
  font-family: 'Space Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsl(186, 14%, 43%);
  background-color: hsl(185, 41%, 84%);
}

.big-number {
  margin: 0px;
  color: hsl(172, 67%, 45%);
  font-size: 2.8rem;
  font-weight: 700;
}

h3{
  margin: 2px 3px;
  padding-bottom: 4px;
}

p {
  font-size: 1.3rem;
}

input, button {
  padding: 0;
  margin: 0;
  font-size: 1.3rem;
  font-weight: 700;
  color: hsl(183, 100%, 15%);
}


/* Input Bill and People */
#input-container {
  margin: 2rem 0;
}

.input-box{
  display: flex;
  color: hsl(184, 14%, 56%);
  background-color: hsl(203, 50%, 97%);
  margin: 5px 0;
  border: 2px solid hsl(203, 50%, 97%);
  border-radius: 5px;
}

.input-box:focus-visible, .input-box:focus, .input-box:active {
  outline: 2px solid hsl(172, 67%, 45%);
}

#input {
  text-align: right;
  border: 0;
  width: 100%;
  margin-right: 1rem;
  background-color: hsl(203, 50%, 97%);
}

#input:focus-visible {
  outline: none;
}

.input-icon {
  padding: .8rem 1rem;
}

/* TipAmout and Total components Style */
#tip-amount-container {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box p {
  margin: 0px;
}

.subtitle {
  font-size: .8rem;
  font-weight: 700;
  color: hsl(186, 14%, 43%);
}

/*  Button RESET */ 
#reset {
  display: flex;
  justify-content: center;
}
.reset-button {
  width: 100%;
  padding: .8rem;
  cursor: pointer;
  color: hsl(183, 100%, 15%);
  background-color: hsl(172, 67%, 45%);
  border: 2px solid hsl(172, 67%, 45%);
  border-radius: 5px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.reset-button:active {
  transform: translateY(2px);
}

